<!-- TEMPORARY DISALBLED

<footer>
    <p>Copyrignt 2019 - Created by WIlfred Lopez</p>
</footer>

-->
    <!--JQUERY-->



   <script src="/socket.io/socket.io.js"></script>
   <script src="/js/libs/jquery-3.3.1.min.js"></script>
   <script src="/js/libs/jquery-deparam.js"></script> <!--Libray to manage parameters passed in the browser. e.g $.deparam(window.location.search) -->
 <script src="/js/chat.js"></script>

