<header>
        <nav class="nav">
            <ul style="list-style:none">
                <a href="/"><li>Chat</li></a>
                <a href="/about"><li>About</li></a>
            </ul>
        </nav>
    </header>