<!DOCTYPE html>
<html lang="en">
<head>
{{> head }}
</head>
<body>
<div class="container" role="main">
    {{> header }}
    <div class="about">
    <h1>About</h1>
    <p>For more information send email to cubamc@gmail.com</p>
    <p>Wilfred D. Lopez<br>
    <span>Garfield NJ, USA</span></p>

    <hr>

    <h2>Instructions</h2>
    <p>- Select a Display name and a room name.</p>
    <p>- Share the room name with friends or join to your friends room and start a chat.</p>
    <p>- Have great conversations in a private environment.</p>


   </div>

<footer>
    <p>&copy; Copyrignt 2019 - Created by WIlfred Lopez</p>
</footer>

</div><!--End Container-->
</body>
</html>