<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

</head>
<body>
<div class="container">
    {{> header }}
<!-- removing side bar for the momment 
       <div class="sidebar">
           <div class="sidehead"><h2>Now Online</h2></div>
        
        <div class="users"></div>
    </div>
-->

<div class="centered-content">
    <div class="userform">
        <form action="/chat">
        <div class="form-field">
            <h1>Join a Chat</h1>
        </div>
        <div class="form-field">
            <label>Display Name: </label>
            <input type="text" name="name" autofocus required pattern="\S+" title="-Blank spaces are not allowed"/>
        </div>
        <div class="form-field">
                       <label>Room Name: </label>
            <input type="text" name="room" autofocus required pattern="\S+" title="-Blank spaces are not allowed"/>
        </div>
        <div class="form-field">
            <button type="submit" id="join">Join</button><br>
            <span role="contentinfo" aria-label="requirements: -No blank spaces allowed">
                Requirements:<br>
                -No blank spaces allowed.</span>
        </div>
        </form>


    </div><!--end Userform -->
</div> <!-- END Centered COntent-->

        <br>
    <article>
        
    </article>








</div><!--End Container-->
</body>
</html>