<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

</head>
<body>
<div class="container">
    {{> header }}
<!-- removing side bar for the momment 
       <div class="sidebar">
           <div class="sidehead"><h2>Now Online</h2></div>
        
        <div class="users"></div>
    </div>
-->

<div class="centered-content">
    <div class="userform">
        <form action="/chat">
        <div class="form-field">
            <h1>Join a Chat</h1>
        </div>
        <div class="form-field">
            <label>Display Name: </label>
            <input type="text" name="name" required pattern="\S+" title="-Blank spaces are not allowed"/>
         
        </div>
        <div class="form-field">
                       <label>Room Name: </label>
            <input type="text" name="room" required pattern="\S+" title="-Blank spaces are not allowed"/>
           
        </div>
        <div class="form-field">
            <button type="submit" id="join">Join</button><br>
        </div>
        </form>


    </div><!--end Userform -->
</div> <!-- END Centered COntent-->

        <br>
    <article>
        
    </article>






 <script src="/js/libs/jquery-3.3.1.min.js"></script>

 <script>
    $(document).ready(function(){
        

        let $inputname = $("input");
  
        $inputname.on('focus',function(){
            var nombre = this.name
              informacion(nombre);
        });
        
        $inputname.on('blur',function(){
            let info = $('.info');
            info.html("");
        });


        function informacion(nombre){
            var n = "input[name="+nombre+"]";
            $('<div class="info" role="contentinfo" aria-label="blank spaces are not allowed">Blank spaces are not allowed</div>' ).insertBefore( $(n));
        }
        $("input[name='name']").focus();
    });
 




 </script>

</div><!--End Container-->
</body>
</html>