<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

</head>
<body>
<div class="container">
    {{> header }}
<!-- removing side bar for the momment 
       <div class="sidebar">
           <div class="sidehead"><h2>Now Online</h2></div>
        
        <div class="users"></div>
    </div>
-->

<div class="centered-content">
    <div class="userform">
        <form action="/chat">
        <div class="form-field">
            <h1>Join a Chat</h1>
        </div>
        <div class="form-field">
            <label>Display Name: </label>
            <input type="text" name="name" autofocus required onkeyup="nospaces(this)"/>
        </div>
        <div class="form-field">
                       <label>Room Name: </label>
            <input type="text" name="room" autofocus required onkeyup="nospaces(this)"/>
        </div>
        <div class="form-field">
            <button type="submit" id="join">Join</button>
        </div>
        </form>
        <ul>
        <h2>Available Rooms</h2>
        <li>A</li>
        <li>B</li>
        </ul>

    </div><!--end Userform -->
</div> <!-- END Centered COntent-->

        <br>
    <article>
        
    </article>








</div><!--End Container-->

    <script type="text/javascript">

function nospaces(t){

if(t.value.match(/\s/g)){

alert('Sorry, you are not allowed to enter any spaces');

t.value=t.value.replace(/\s/g,'');

}

}

</script>


</body>
</html>