<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

</head>
<body>
<div class="container">
    {{> header }}
<!-- removing side bar for the momment 
       <div class="sidebar">
           <div class="sidehead"><h2>Now Online</h2></div>
        
        <div class="users"></div>
    </div>
-->
<main>
    <h1>Chat</h1>
        <section class="chat-section">
            <article class="message-article">
            <ol class="messages">
        

            </ol>

            </article>
        <div class="chat-footer">
        <form id="message-form">
            <input name="message" type="text" value="" placeholder="type message here" class="value" autofocus autocomplete="off">
            <button>Send</button>
            
        </form><button id="send-location" >Send Location</button>
        
        </div>
</section>
        <br>
    <article>
        
    </article>


</main><!--End Main-->
{{> footer}}




</div><!--End Container-->
</body>
</html>