@import url('https://fonts.googleapis.com/css?family=Catamaran');

*{
    font-family: 'Catamaran', sans-serif;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}


header{
    background-color:#2b3131;
    height: 50px;
    position: relative;
    border: .5px solid black;
    box-shadow: 1px #f6f6f6;
}
main{
    margin: 0 25px;

}

nav ul li{
    display: inline;
    padding: 8px;
    border: .5px solid #b4b4b4;
    box-shadow: 1px #f6f6f6;
    background-color:#0062b2;
}

nav ul > a{
    text-decoration: none;
    color:#ffffff;
}

nav ul li:hover{
    background-color: rgba(41, 83, 118, 0.49);

}


ol{
    list-style: none;
}

.chat-section{
    border: solid .5px #f6f6f6;
    display: flexbox; 
}

.message-article{
    box-shadow: brown;
    border: #000000 solid 1px;
    flex: 1;
}

article li{
    color: gray;
}
article li:last-child{
    color: black;
}

#message-form{
    margin-top: 5px;
}

footer{
    text-align: center;
    display: block;
    background-color: lightgrey;
    height: 50px;
    padding: 5px  0;
    margin-top: 10px;
}