@import url('https://fonts.googleapis.com/css?family=Catamaran');



@media only screen and (max-width: 500px) {
    input, button{
        font-size: small;
    }
}


*{
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
}

h1{
    font-weight: bolder;
    font-size: 20px;
}

h2{
    font-size: 17px;
    font-weight: bold;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 329px;
}


header{
    background-color:#2b3131;
    height: 60px;
    position: relative;
    border: .5px solid rgb(124, 112, 112);
    box-shadow: 2px #f6f6f6;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar{
        align-self: stretch;
        max-height: 100%;
        max-width: 20%;
        margin-top: 2%;
        margin-bottom: 0;
        background-color: #0062b2;
        color: #ffffff;
        flex: 1 1 0%;
}
.sidehead{
    margin: 0 20%;
}
#send-location{
    display: inline;
    position: relative;
    font-weight: bolder;
}
.sidehead h2{
    font-weight: bolder;
}
main{
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
}

main h1{
    margin-top: 15%;
}

@media only screen and (min-width: 500px) {
        main h1{
            margin-top: 12%;
        }
  }


  @media only screen and (min-width: 700px) {
    main h1{
        margin-top: 7%;
    }
}

nav ul li{
    display: inline;
    padding: 8px;
    border: .5px solid #b4b4b4;
    box-shadow: 1px #f6f6f6;
    background-color:#0062b2;
    border-radius: 8px;
    
}

nav ul > a{
    text-decoration: none;
    color:#ffffff;
}

nav ul li:hover{
    background-color: rgba(41, 83, 118, 0.49);

}


ol{
    list-style: none;
    overflow: auto;
    width: 100%;
}

.chat-section{
    border: solid .5px #f6f6f6;
    flex: 3;
    margin: 2% 2%;
}

.message-article{
    box-shadow: brown;
    border: #000000 solid 1px;
    flex: 1;
    display: flex;
    height: 400px;
}

article li{
    color: gray;
}

.message {
    color: gray;
}

article li:last-child .message {
    color: #9d4a01;
    font-weight: bolder;
}

article li:last-child{
    color: black;
}

form button {
    display: inline;
    position: relative;
    font-weight: bolder;
}
.chat-footer{
    background-color: rgba(43, 49, 49, 0.8);
    margin: 20px 0;
}

#message-form{
    padding: 10px;
    display: inline-block;
}

footer{
    text-align: center;
    display: block;
    background-color: lightgrey;
    height: 50px;
    border: 2px #ffffff solid;
    border-bottom: #000000 !important;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.message-article span {
    display: inline;
    color: lightslategray;
}

.message-article h4 {
    display: inline;
    font-weight: bolder;
}

article li:last-child span.msgfrom {
    color: black;
    font-weight: bold;
}

.tiempo{
   font-style: italic; 
}


@media only screen and (min-width: 900px) {
    .centered-content {
        display: flex;
        margin: 5% 2% !important;
        padding: 5%;
    }
}

@media only screen and (max-width: 800px) {
        main{
            display: block;
        }
        .mgtop5{
            margin-top: 10% !important;
        }

        .sidebar{
            min-width: 100%;
            display: table;
            position: absolute;
            bottom: -175px;
        }
}

.centered-content {
    margin: 20% 2%;
  
}



.userform{
    flex: 1 1 50%;
    flex-grow: initial;
    -webkit-box-flex: 1 1 38%;
    background: rgba(5, 98, 178, 0.6);
    margin: auto;
    padding: 3%;
    border-radius: 27px;
    border: 2px solid #ffffff;
}

.form-field {
    text-align: center;
    display: grid;
    padding: 2%;
}

.mgtop5{
    margin-top: 50%;
}

.sidebar h2{
    padding-top: 20px;
}

.about{
    display: block;
    margin: 6%;
    padding: 6%;
}

#users-list li p {
    background: rgb(255, 255, 255);
    margin-right: 40%;
    color: black;
    font-weight: 900;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px rgba(11, 6, 9, 0.5);
}

.form-field label {
    font-weight: 800;
    font-variant: petite-caps;
    font-size: 17px;
}

.form-field span {
    color: aliceblue;
    font-weight: 600;
    font-variant: petite-caps;
    font-size: 16px;
}

input[type="text"]:focus {
    border: 3px rgba(2, 178, 132, 0.9) solid;
 
}

.from:nth-last-child(-n+2) span {
    color: black;
}
.from:nth-last-child(-n+2) div{
    font-weight: 600;
}

span.room {
    /* border: 4px dashed white; */
    /* box-shadow: -6px 0px #b0b5b5; */
    text-decoration: underline;
    text-shadow: 1px 1px black;
    padding: 0 16%;
}

